.login-component {
  background-color: #6d6875;
  height: 100vh;
  position: relative;
}

.login-container {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  width: 30vw;
  height: 80vh;
  z-index: 10;
  /* Center vertically and horizontally */
  position: absolute;
  top: 10%;
  left: 50%;
  margin: -2vw 0 0 -17vw; /* Apply negative top and left margins to truly center the element */
}

.textField-container {
  position: relative;
}

.element {
  display: inline-grid;
  margin: 20px;
  position: absolute;
  left: 5vw;
  justify-content: space-between;
}



svg{
  bottom: 0;
  position: absolute;
  z-index: 1;
}