.login-component {
  background-color: #6d6875 !important;
  height: 100vh;
  width: 100%;
}

.login-container {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  width: 30vw;
  height: 80vh;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: -2vw 0 0 -17vw;
}

.textField-container {
  position: relative;
}

#title {
  font-family: Dancing Script;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

#image {
  width: 15vw;
  height: 25vh;
}

#parent-img {
  display: flex;
  justify-content: center;
}

.element {
  display: inline-grid;
  margin: 20px;
  position: absolute;
}

svg{
  position: absolute;
  z-index: 1;
  bottom:  0;
}

#buttons {
  background-color: #6d6875;
  height: 40px;
  font-size: 1.5vw;
  font-family: Poppins;

}

#outlined-buttons {
  color: #6d6875;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  width: 3vw;
}